# Django
db.sqlite3
*.log
*.pyc
__pycache__/
local_settings.py

# Virtual Environment
env/
venv/
ENV/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Railway / Production
.env
.env.local
*.env

# Static files collected (pueden regenerarse)
staticfiles/


# Media files (subidos por usuarios)
media/
